[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
hy = "*"
hyrule = "*"
#pyatspi = {path="/usr/lib/python3.10/site-packages/pyatspi"}
#pyatspi = {version="*", system=true}
favicon = "*"

[requires]
python_version = "3.10"
python_full_version = "3.10.9"
